apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "lms-app.fullname" . }}
  labels:
    {{- include "lms-app.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "lms-app.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "lms-app.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "lms-app.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.app.port }}
              protocol: TCP
          env:
            - name: DB_HOST
              value: "{{ .Values.db.host }}"
            - name: DB_PORT
              value: "{{ .Values.db.port }}"
            - name: DB_USER
              value: "{{ .Values.db.user }}"
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ include "lms-app.fullname" . }}-db-secret
                  key: password
            - name: DB_NAME
              value: "{{ .Values.db.name }}"
            - name: SITE_NAME
              value: "{{ .Values.frappe.siteName }}"
            - name: ADMIN_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ include "lms-app.fullname" . }}-admin-secret
                  key: password
            {{- if .Values.db.rootPassword }}
            - name: DB_ROOT_PASSWORD
              value: "{{ .Values.db.rootPassword }}"
            {{- end }}
            - name: REDIS_HOST
              value: "{{ .Values.frappe.redis.host }}"
            - name: REDIS_PORT
              value: "{{ .Values.frappe.redis.port }}"
          volumeMounts:
            {{- if .Values.persistence.enabled }}
            - name: sites-storage
              mountPath: {{ .Values.persistence.mountPath }}
            {{- end }}
          livenessProbe:
            httpGet:
              path: /api/method/ping
              port: http
            initialDelaySeconds: 600
            periodSeconds: 30
            timeoutSeconds: 10
            failureThreshold: 5
          readinessProbe:
            httpGet:
              path: /api/method/ping
              port: http
            initialDelaySeconds: 300
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 5
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      volumes:
        {{- if .Values.persistence.enabled }}
        - name: sites-storage
          persistentVolumeClaim:
            claimName: {{ include "lms-app.fullname" . }}-pvc
        {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
